<div class="container-fluid">
    <%- include('../partials/user-navbar.ejs') %>

    <div style="width:100%;height:100vh;display: flex;flex-direction: column; justify-content:center;align-items:center">
        <h3>
            your are not Login Please Login
        </h3>
        <button style="background-color:#f3a007;" data-bs-toggle="modal" data-bs-target="#signupform">login</button>
    </div>
</div>