<%- include('../partials/user-navbar.ejs') %>

  <div class="container-fluid py-5 bg-dark hero-header mb-5">
    <div class="container my-3 py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start animate__animated animate__slideInLeft">
          <h1 class="display-3 text-white">Enjoy Our<br />Delicious Burger</h1>
          <p class="text-white animate__animated slideInLeft mb-4 pb-2">Tempor
            erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
            amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo magna dolore erat amet</p>
          <!-- <a href="" class="btn py-sm-3 px-sm-5 me-3 animated slideInLeft">Order
            now</a> -->
          <div class="d-flex align-items-center justify-content-center">

            <div class="form-floating m-2">
              <input type="number" name="pincode" style="height:40px;" class="form-control pincheckinput" id="pincode"
                placeholder="Pincode">
              <label for="floatingInput" style="color: #df2939">Pincode </label>
            </div>

            <div class="pincheck  animated slideInLeft" onclick="checkpincode()">check</div>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end animate__animated animate__slideInDown animate__slow_1s">
          <img class="img-fluid" src="/images/brgr2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- menu_category_list -->

  <div class="menu-category">
    <div class="category-table">
      <div class="menu-category-items food wow animate__rotateInUpLeft" data-wow-duration="900ms">
        <div class="text_items">
          <h3>FOODS</h3>
          <p>Lorem ipsum dolor sit amet, nisi enim usdam.</p>
          <a href="">BUY ONLINE</a>
        </div>
      </div>
      <div class="menu-category-items snacks wow animate__fadeInUp" data-wow-duration="900ms">
        <div class="text_items">
          <h3>SNACKS</h3>
          <p>Lorem ipsum dolor sit amet, nisi enim usdam.</p>
          <a href="">BUY ONLINE</a>
        </div>
      </div>
      <div class="menu-category-items beverages wow animate__rotateInUpRight" data-wow-duration="900ms">
        <div class="text_items">
          <h3>BEVERAGES</h3>
          <p>Lorem ipsum dolor sit amet, nisi enim usdam.</p>
          <a href="">BUY ONLINE</a>
        </div>
      </div>
    </div>
  </div>

  <!-- menu_category_list_end -->

  <!-- Pay_day_promo  -->

  <div class="container-fluid">
    <div class="pay-day-promo">
      <div class="promo-box first wow animate__fadeInLeft" data-wow-duration="1.0s">
        <div class="promo-box-text">
          <p>Payday promo</p>
          <h2>Get a 10% discount on payday week</h2>
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aut quam nulla.</p>
          <a href="">BUY ONLINE</a>
        </div>
        <div class="promo-box-image">
          <img src="/images/burger2.png" />
        </div>
      </div>
      <div class="promo-box second wow animate__fadeInRight " data-wow-duration="1.0s">
        <div class="promo-box-text">
          <p>Payday promo</p>
          <h2>Get a 10% discount on payday week</h2>
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aut quam nulla.</p>
          <a href="">BUY ONLINE</a>
        </div>
        <div class="promo-box-image">
          <img src="/images/coke.png" />
        </div>
      </div>
    </div>
  </div>

  <%- include('../user/ourmenu.ejs') %>

    <!-- ========videosection-start=========== -->
    <script src="../../javascripts/backgroundvideo.js"></script>
    <section class="wow animate__fadeIn " data-wow-duration="2s">
      <div class="example-marquee" style="height:80vh;">
        <div id="ytbg" data-ytbg-fade-in="true" data-ytbg-resolution="4:3" data-ytbg-start-at="5" data-ytbg-end-at="30"
          style="height:70vh;" data-youtube="https://www.youtube.com/watch?v=HS24PywYlxg"></div>
        <div class="content">
          <div class="inner">
            <h1 class="my-3">WE SERVE YOU THE BEST</h1>
            <p class="line"></p>
            <p style="width:400px; text-align: center; color: #fff;">Lorem ipsum dolor sit amet, consectetuer adipiscing
              elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
              parturient montes.</p>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">

      jQuery(document).ready(function () {
        jQuery('[data-youtube], [data-vbg]').youtube_background();
      });

      document.querySelector('#ytbg2').addEventListener('video-background-pause', function () {
        console.log(arguments);
      });
    </script>


    <!-- ========videosection=========== -->


    <!-- ===========start-price-start========= -->


    <section class="mb-5" style="margin-top: 12rem;">

      <div class="start-price">


        <div class="box wow animate__fadeInLeft" data-wow-duration="1s" style=" background-color: #00A149;">
          <div class="shape ">
            <img class="grow" src="../../images/h1_shape-8.png">
          </div>
          <div class="start-price-text">
            <h1 style="text-shadow: 2px 0 6px #00a850;">Snacks</h1>
            <p>Start From</p>
            <h3><i class="bi bi-currency-rupee"></i>199</h3>
          </div>
          <div class="">
            <img class="start-img " src="../../images/h1_shape-4.png">
          </div>

        </div>
        <div class="box wow animate__fadeInLeft" data-wow-duration="1.5s" style=" background-color: #db731e;">
          <div class="shape ">
            <img class="grow" src="../../images/h1_shape-8.png">
          </div>
          <div class="start-price-text">
            <h1 style="text-shadow: 2px 0 6px #db731e;">Burgers</h1>
            <p>Start From</p>
            <h3><i class="bi bi-currency-rupee"></i>199</h3>
          </div>
          <div class="">
            <img class="start-img " src="../../images/burger1.png">
          </div>

        </div>
        <div class="box box-beverages wow animate__fadeInLeft" data-wow-duration="2s"
          style=" background-color: #ffc900;">
          <div class="shape ">
            <img class="grow" src="../../images/h1_shape-8.png">
          </div>
          <div class="start-price-text">
            <h1 style="color: #cd4414;text-shadow: 2px 0 6px #ffc900;">Beverages</h1>
            <p>Start From</p>
            <h3 style="color: #000;"><i class="bi bi-currency-rupee"></i>199</h3>
          </div>
          <div class="">
            <img class="start-img-beverages" src="../../images/image_f0bccf32-c27e-4648-84ca-5f3a22e70e64.png">
          </div>

        </div>
      </div>
    </section>
    <script>
      $(document).ready(function () {

        $('.box').mouseover(function () {

          $(this).find('.grow').css('transform', 'scale(8.8)');
        });

        $('.box').mouseout(function () {

          $(this).find('.grow').css('transform', 'scale(1)');
        });
      });
    </script>
    <!-- ===========start-price========= -->

    <!-- ============footer-start========== -->

    <%- include('../partials/user-footer.ejs') %>

    <!-- ============footer========== -->

    <script>

      function checkpincode() {
        let pin = document.getElementById('pincode').value

        $.ajax({
          url: '/checkpincode',
          data: {
            pincode: pin
          },
          method: 'post',
          success: function (response) {
            if (response.status) {
              Swal.fire("available!", "Delivary available to this pincode " + pin, "success");

            } else {
              Swal.fire({
                icon: 'error',
                title: 'Sorry...',
                text: 'Delivary to this pincode ' + pin + ' not avilable!',
              })
            }
          },
          error: function (err) {
            Swal.fire("Error!", "Something went wrong!", "error");
          },
        })
      }
    </script>