    <!-- lens options start -->
    <script type="text/javascript" src="../../javascripts/xzoom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/xzoom.min.css" media="all" /> 

    <section id="lens">
        <div class="row">
          <div class="large-12 column"><h3>Lens options</h3></div>
          <div class="large-5 column">
            <div class="xzoom-container">
              <img class="xzoom3" src="../../uploads/image_1666411152775.png" xoriginal="../../public/uploads/image_1666411152775.png" />
              <div class="xzoom-thumbs">
                <a href="../../uploads/image_1666411152775.png"><img class="xzoom-gallery3" width="80" src="../../uploads/image_1666411152775.png"  xpreview="../../uploads/image_1666411152775.png" title="The description goes here"></a>
                <a href="../../uploads/image_1666411257370.png"><img class="xzoom-gallery3" width="80" src="../../uploads/image_1666411257370.png" title="The description goes here"></a>
                <a href="../../images/gallery/original/03_r_car.jpg"><img class="xzoom-gallery3" width="80" src="../../images/gallery/preview/03_r_car.jpg" title="The description goes here"></a>
                <a href="../../images/gallery/original/04_g_car.jpg"><img class="xzoom-gallery3" width="80" src="../../images/gallery/preview/04_g_car.jpg" title="The description goes here"></a>
              </div>
            </div>        
          </div>
          <div class="large-7 column"></div>
        </div>
        </section>   
        <!-- lens options end -->
        <!-- <script src="js/foundation.min.js"></script> -->
        <script src="../../javascripts/setup.js"></script>