<div class="container-fluid">
    <div style="height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;">
        <div class="order-success">
            <div><img src="../../images/cute burger love emotion.png"></div>
            <div class="os " >Order Success!</div>
            <div class="nd m-4">Yay, it`s a nice order !
                it will arrive soon</div>
            <div>
                <button>Honey, eat some more, or mom will be sad.
                    So buy some more......</button>
            </div>

        </div>
    </div>
</div>